.return-button {
    font-family: 'Pokemon';
    font-size: 60%;
    position: absolute;
    top: 5%;
    right: 2%;
    background-color: #8B0000; /* Vermelho vinho */
    color: #FFFFFF; /* Texto branco */
    padding: 15px 25px;
    border: 2px solid #000000; /* Borda preta */
    border-radius: 35%; /* Cantos arredondados */
    cursor: pointer;
    margin: 1px; /* Margem de 1px em preto */
  }
  
  .return-button:hover {
    background-color: #B22222; /* Cor mais clara ao passar o mouse */
  }