<div class="background-container">

    <img src='.\assets\images\battlebackground.png' alt="Background Image" class="background-image">

    <img src='.\assets\images\battlebox.png' class="battlebox">
    
    <img src='.\assets\images\lifebarEnemy.png' class="lifeEnemy">
    <div class="lifeBarEnemy"  [style.width.%]="lifeEnemyWidth"></div>

    <img src='.\assets\images\lifebarUser.png' class="lifeUser">
    <div class="lifeBarUser"  [style.width.%]="lifeUserWidth"></div>

    <span class="enunciado"> {{ enunciado }} </span>
    <span class="expressao"> {{ expressao }} </span>

    <img src="{{ enemyPokemon }}" class="jumping-image image-pixel-art enemyImg">
    <img src="{{ userPokemon }}" class="jumping-image image-pixel-art userImg">

    <button class="resposta1" (click)="handleButtonClick(resposta1)">{{resposta1}}</button>
    <button class="resposta2" (click)="handleButtonClick(resposta2)">{{resposta2}}</button>
    <button class="resposta3" (click)="handleButtonClick(resposta3)">{{resposta3}}</button>
    <button class="resposta4" (click)="handleButtonClick(resposta4)">{{resposta4}}</button>
        
    <span class="username"> {{ username }} </span>
    <span class="enemyname"> {{ enemyname }} </span>

    <button class="return-button" (click)="retornarHome()">Retornar</button>
</div>