<div class="background-container">

    <img src='.\assets\images\battlebackground.png' alt="Background Image" class="background-image">

    <img src='.\assets\images\battlebox.png' class="battlebox">
    <img src='.\assets\images\lifebarEnemy.png' class="lifeEnemy">
    <img src='.\assets\images\lifebarUser.png' class="lifeUser">
    <span class="enunciado"> {{ enunciado }} </span>
    <span class="expressao"> {{ expressao }} </span>

    <button class="return-button" (click)="retornarHome()">Retornar</button>
</div>