<!-- app.component.html -->
<div class="background-container">
  <img src='assets\images\Menuzoom.jpg' alt="Background Image" class="background-image">
  <!-- Posicionamento absoluto dos botões -->
  <button class="buttonAjuda" (click)="handleButtonClick('assets/images/ajuda.png')"></button>
  <button class="buttonColecao" (click)="handleButtonClick('assets/images/colecao.png')"></button>
  <button class="buttonExercicios" (click)="handleButtonClick('assets/images/exercicios.png')"></button>
  <button class="buttonAprender" (click)="handleButtonClick('assets/images/aprender.png')"></button>
  <!-- Adicione mais botões conforme necessário -->
</div>
