<div class="background-container">
  <img src='assets\images\urban.png' alt="Background Image" class="background-image">

  <!-- Posicionamento absoluto dos botões -->
  <button class="buttonAjuda" (click)="handleButtonClick('assets/images/ajuda.png')"></button>
  <button class="buttonColecao" (click)="handleButtonClick('assets/images/colecao.png')"></button>
  <button class="buttonExercicios" (click)="handleButtonClick('assets/images/exercicios.png')"></button>
  <button class="buttonAprender" (click)="handleButtonClick('assets/images/aprender.png')"></button>

  <!-- Imagens para animações -->
  <img class ="predioUrban" src="assets/images/predioUrban.png">
  <img class ="pokecenter" src="assets/images/pokecenter.png">
  <img class ="cassino" src="assets/images/cassino.png">
  <img class ="predioMenor" src="assets/images/predioMenor.png">

  <!-- tag de áudio -->
  <audio class="audiocontroller" controls autoplay loop volume="0.01">
    <source src=".\assets\music\41 Vermilion City - Pokémon FireRed and AquaBlue Super Music Collection (320 kbps).mp3" type="audio/mp3">
    Seu navegador não suporta a tag de áudio.
  </audio>
</div>
