<div *ngIf="isMenuVisible">
<div class="background-container">

  <!-- Imagem e texto para animação -->
  <img src="assets/images/exercicioPreview.png" alt="Exercise Image" class="exercise-image" *ngIf="showExerciseInfo">
  <div class="typed-out exercise-text" id="exerciseText"  [innerHTML]="ExercicioTexto" *ngIf="showExerciseInfo"> {{ExercicioTexto}} </div>
  
  <!-- Imagem e texto para animação -->
  <img src="assets/images/ColecaoPreview.png" alt="Colecao Image" class="colecao-image" *ngIf="showColecaoInfo">
  <div class="typed-out colecao-text" id="colecaoText"  [innerHTML]="ColecaoTexto" *ngIf="showColecaoInfo"> {{ColecaoTexto}} </div>

  <!-- Imagem e texto para animação -->
  <img src="assets/images/AprenderPreview.png" alt="Aprender Image" class="aprender-image" *ngIf="showAprenderInfo">
  <div class="typed-out aprender-text" id="aprenderText"  [innerHTML]="AprenderTexto" *ngIf="showAprenderInfo"> {{AprenderTexto}} </div>

  <!-- Imagem e texto para animação -->
  <img src="assets/images/AjudaPreview2.png" alt="Ajuda Image" class="ajuda-image" *ngIf="showAjudaInfo">
  <div class="typed-out ajuda-text" id="ajudaText"  [innerHTML]="AjudaTexto" *ngIf="showAjudaInfo"> {{AjudaTexto}} </div>

  <!-- Posicionamento absoluto dos botões -->
  <button class="buttonAjuda grupo-botoes" (click)="handleButtonClick('assets/images/ajuda.png')"></button>
  <button class="buttonColecao grupo-botoes" (click)="handleButtonClick('assets/images/colecao.png')"></button>
  <button class="buttonExercicios grupo-botoes" (click)="handleButtonClick('assets/images/exercicios.png')"></button>
  <button class="buttonAprender grupo-botoes" (click)="handleButtonClick('assets/images/aprender.png')"></button>

  <!-- Imagens para animações -->
  <img class ="predioUrban grupo-imagens" src="assets/images/predioUrban.png">
  <img class ="pokecenter grupo-imagens" src="assets/images/pokecenter.png">
  <img class ="cassino grupo-imagens" src="assets/images/cassino.png">
  <img class ="predioMenor grupo-imagens" src="assets/images/predioMenor.png">
  
  <img src='assets\images\urban.png' alt="Background Image" class="background-image">

  <!-- tag de áudio -->
  <audio class="audiocontroller" controls autoplay loop volume="0.01">
    <source src=".\assets\music\41 Vermilion City - Pokémon FireRed and AquaBlue Super Music Collection (320 kbps).mp3" type="audio/mp3">
    Seu navegador não suporta a tag de áudio.
  </audio>

  <button class="return-button" (click)="retornarHome()">Log Out</button>
</div>
</div>