/* pokedex.component.scss */
.pokedex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
.pokemon-item {
  text-align: center;
  margin: 10px;
}

.pokemon-name {
  font-size: 10%;
}
  